$primary_color: #ffffff;
$secondary_color: #000000;
$third_color: #050505;
$third_color_opa: #05050555;
$fourth_color: #fece00;
$five_color: #fe7563;
$six_color: #0b211c;
$seven_color: #1a546f;
$eight_color: #353535;

$footer_color: #98d9cb;

$barlow: 'Barlow', sans-serif;
$fraunces: 'Fraunces', serif;

$breakpoint_tablet: 768px;
$breakpoint_mobile: 480px;

$bg_sectionOne: "../assets/desktop/bgsecone.png";